.more-suggestion{
  border-top: var(--main-border);
  padding-top: 25px;
}

.more-suggestion__icons{
  display: flex;
  margin-top: 20px;

}

.more-suggestion__icons-column{
display: flex;
flex-direction:column;
align-items:center;
margin-right: 70px;
padding-right: -10px;
}

.more-suggestion__icons-column-image{
  background-color: var(--yellow);
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestion__icons-column-String{
  opacity: 0.4;
}
