.nav{
  background-color:#F9F9FA;
  position: fixed;
  bottom: 0px;
  width:100%;
  box-sizing: border-box;
  padding: 30px 50px;
  border-top:var(--main-border);
}


.nav__ul{
  display: flex;
  justify-content: space-between;
}

.nav__link{
  color:#2F363E;
  position: relative;
}

.nav__notification{

  position: absolute;
  left: 20px;
  bottom: 15px;
  animation: notificationAnimation 1s ease-in-out infinite;
}

.nav__dot{
  display:flex;
  justify-content: center;
position: absolute;
background: tomato;
height:5px;;
width: 5px;
color: tomato;
border-radius:4px;
left: 30px;
align-items: center;
}


@keyframes notificationAnimation{
    0%{
      transform: none;
    }
    50%{
      transform:translateY(-10px) rotateY(360deg);
    }

    100%{
      transform:none;

    }

}


@keyframes appearBtnAnmimation{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: none;
  }
}

.nav__list{
  transform:translateY(50px);
  opacity: 0px;
  animation: appearBtnAnmimation  0.3s ease-in-out forwards;
}


.nav__list:nth-child(2){
  animation-delay: 0.2s;
}

.nav__list:nth-child(3) {
  animation-delay: 0.5s;
}


.nav__list:last-child{
  animation-delay: 0.9s;
}